html  {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}
/*div, nav {
  border: 1px solid red;
}*/

body {
  text-align: center;
  width:100%;
  height: 100%
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  line-height: 1.4;
  background-color: rgba(211,211,211,0.3);
}

.flex {
  display: flex;

}
.container {
  max-width: 100%;
}
.subcontainer-left {
  max-width: 60%;
}
.subcontainer-right {
  max-width: 40%;
}
/*Mobile containers and subcontainer*/
@media only screen and (max-width: 480px){
  .subcontainer-left {
    max-width: 100%;
  }
  .subcontainer-right {
    max-width: 100%;
  }
}

img, video{
  max-width: 100%;
  object-fit: fill;
}
h1{
  font-size: 3rem;
  font-weight:900;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
p {
  font-size: 1rem;
}

/*- interactions mouse on nav elements and buttons-->*/
.nav li:hover{
  opacity:0.5;
}
.nav a:active{
  background-color: green;
}
#starthere:hover {
  background-color: green;
}
.button a:active {
  text-decoration: line-through;
}


/* header, nav*/
.colmaracademy {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255,255,255, 0.5);
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.branding {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1rem 0 1rem 1.5rem;
}
.nav li{
  display: inline-block;
  padding-right: 1rem;
  padding: 1rem 1rem 1rem 0;
}
.nav li:last-child {
  padding-right:1.5rem;
}

.mobile.nav {
  display: none;
}
.branding .logo img {
  margin-top: 1rem;
  width: 3rem;
}

/*Mobile Header and NaV*/
@media only screen and (max-width: 480px){
  .desktop.nav {
    display: none;
  }
  .mobile.nav {
    display: inline;
  }
  .institution {
    display: none;
  }
}

/*section 1*/
.section1{
  padding-top: 4rem;
}
.banner {
  margin: 2rem 1.5rem;
}
#starthere {
  background-color: rgba(125, 125, 125, 0.7);
  padding: 0.5rem 0.5rem;
  margin-top: 2rem;
}
#starthere a{
  text-align: center;
  color: rgba(255,255, 255, 1);
}
.textcontent h3 {
  margin-top: 2rem;
  text-align: left;
  background-color: rgba(255,255,255, 0.5);
}
.textcontent h1 {
  text-align: left;
  background-color: rgba(255,255,255, 0.5);
}
.textcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem; /* added extra margin of 1rem because it
  made more sense to have the same margin on all element on
  right side*/
}

/*Mobile section 1*/
@media only screen and (max-width: 480px){
  .section1{
    display: block;
  }
  .banner {
    margin: 0;
  }
  .textcontent {
    margin: 2rem 1rem;
  }
  .textcontent h3 {
    margin: 2rem 0 1.5rem 0;
  }
  #starthere {
    width: 100%;
    padding:1rem 0;
  }
}

/*section 2*/
.section2{
  margin-top: 2rem;
}

.campus-mobile,
.orientation-mobile,
.guest-mobile {
  display: none;
}

.flex.information-more {
  flex-direction: column;
}

.info.orientation,
.info.campus,
.info.guest {
  max-width; 65%;
  text-align: left;
  margin: 0.5rem 0 0.5rem 1.5rem;
  background-color: rgba(255,255,255, 0.5);
}

.Orientation, .Campus, .Guest {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 1rem;
}

.image.orientation,
.image.campus,
.image.guest {
  max-width: 35%;
  height: auto;
}

.information-image {
  margin: 0 1.5rem 2rem 1.5rem;
}

.information-text {
  text-align: left;
  margin-left: 1.5rem;
  background-color: rgba(255,255,255, 0.5);
}
.information-text h2 {
  margin-bottom: 1.5rem;
}
.information-text p {
  margin-bottom: 2rem;
}
.quote.attribution{
  font-weight: 600;
}
.readmore a{
  color: green;
}

/*Mobile section 2*/
@media only screen and (max-width: 480px){
  .information-main {
    display: none;
  }
  .campus-mobile,
  .orientation-mobile,
  .guest-mobile {
    display: block;
  }
  .image.orientation,
  .image.campus,
  .image.guest{
    display: none;
  }

  .flex.information-more {
    display:block;
  }
  .Orientation, .Campus, .Guest{
  display: block;
  margin-top: 2rem;
  }
  .Orientation {
    margin-top: 4rem;
  }
  .Guest {
    margin-bottom: 2rem;
  }
}

/*section 3*/
.image-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0rem 4.5rem;
}
.course {
  max-width: 20rem;
  margin: 1rem 2rem;
}
.course-img{
  height: auto;
}
.course-info {
  text-align: left;
  margin: 2rem 0 1.5rem 2rem;
  background-color: rgba(255,255,255, 0.5);
}
.featured-courses h2 {
  margin: 2rem 0;
  background-color: rgba(255,255,255, 0.5);
}

/*Mobile section 3*/
@media only screen and (max-width: 480px){
  .course-img, .course-info p{
    display: none;
  }
  .image-grid {
    display: block;
    margin: 0;
  }
  .course {
    max-width: 100%;
    margin: 0;
  }
  .course-info{
    margin: 0;
  }
  .course-info h4 {
    background-color: lightgray;
    padding: 1rem 0 1.5rem 1rem;
    margin: .25rem 1rem;
  }
  .featured-courses h2 {
    margin: 2rem 0 1rem 0;
  }
  .featured-courses {
    margin-bottom: 2rem;
  }
}

/*section 4*/
.thesis {
  display:flex;
  justify-content: flex-start;
  align-items:  center;
}
.thesis.info {
  display: block;
  text-align: left;
  max-width; 65%;
  height: auto;
  margin: 0.5rem 0 0.5rem 1.5rem;
  background-color: rgba(255,255,255, 0.5);
}
.image.fisma,
.image.nowthen {
  max-width: 35%;
  height: auto;
  margin: 1rem 1rem;
}
.exhibit {
  margin: 2rem 0;
  background-color: rgba(255,255,255, 0.5);
}
.reimagine{
  margin: 0 1.5rem;
}
.thesis.text{
  display: block;
  text-align: left;
  margin: 1.5rem 0rem 2rem 1.5rem;
  background-color: rgba(255,255,255, 0.5);
}
.thesis.text p{
  margin-top: 1rem;
}

/*Mobile section 4*/
@media only screen and (max-width: 480px){
  .thesis-right, .thesis.text{
    display:none;
  }
  .reimagine {
    margin: 0 0 1.5rem 0;
  }
  .exhibit {
    margin: 2rem 0 1rem 0;
  }
}

/* footer*/
.footer {
  justify-content: space-between;
  margin: 1rem 1.5rem;
  padding-bottom: 2rem;
}
.footer span{
  font-size: .75rem;
}

/*Mobile section footer*/
@media only screen and (max-width: 480px){
  .disclaimer {
    display: none;
  }
  .footer {
    display: block;
    margin: 1rem 0 1rem 1rem;
    text-align: left;
  }
}
